.profileContainer {
  display: flex;
  flex-direction: column;
}
.profileHeader {
  display: flex;
  margin: 130px 20px 20px 20px;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
}
.profileHeader img {
  width: 150px;
  height: 150px;
}
.profileHeader h3 {
  font-family: Raleway;
  font-size: 38px;
  font-weight: 700;
  margin: 0;
}
.profileHeaderText {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 0.4;
}

.settingsContainer {
  display: flex;
  gap: 30px;
  margin: 0 10px;
}

.settingsCardTitle {
  color: #4a4a4a;
  font-family: Raleway;
  font-size: 25px;
  font-weight: 900;
}
.userInformationContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5px 15px;
  font-family: Poppins;
  font-size: 18px;
}
.userInformationContainer input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: Poppins;
}

.dashboardCardsSettings {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 5px 15px;
}

@media only screen and (max-width: 768px) {
  .profileHeader {
    display: flex;
    margin: 50px 10px;
    font-size: 18px;
  }
  .profileHeader img {
    width: 70px;
    height: 70px;
  }
  .profileHeader h3 {
    font-size: 28px;
  }
  .profileHeaderText {
    justify-content: unset;
    margin-left: 10px;
  }
  .settingsContainer {
    flex-direction: column;
  }
  .userInformationContainer {
    margin-bottom: 80px;
  }
}
