.dashCard {
  border-radius: 15px;
  border: 2px solid #f4f4f4;
  background: #fff;
  box-shadow: 0px 4px 9px 0px #d9e2ff;
  display: flex;
  width: fit-content;
  height: 200px;
  padding: 15px 15px;
  max-height: 100%;
  overflow-y: auto;
}

@media only screen and (max-width: 768px) {
  .dashCard {
    width: auto;
    height: fit-content;
    min-height: 200px;
    max-width: 100%;
    overflow-x: auto;
  }
}
