.dashContainer {
  padding: 100px 30px;
}

.hide-desktop {
  display: none !important;
}

.dashHeader {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .dashContainer {
    padding: 50px 10px;
  }
  .hide-desktop {
    display: flex !important;
  }
  .cardsContainer {
    padding: 20px 0;
  }
}
