.uploadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadPromptContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin-top: 100px;
}

.uploadIcon {
  width: 250px;
}

.uploadPromptText {
  font-family: Raleway;
  font-weight: 600;
  color: #878787;
  font-size: 18px;
}

#file-upload {
  display: none;
}

.uploadButton {
  border-radius: 12px;
  border: 2px solid #b9cafe;
  background: #4e77f2;
  box-shadow: 0px 4px 9px 0px #d9e2ff;
  padding: 10px 45px;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.previewAnnotationsContainer {
  display: flex;
  width: 100%;
  margin: 100px 20px 0px 20px;
  gap: 20px;
  max-height: 80vh;
}

.previewContainer {
  flex: 1;
  height: fit-content;
  margin-top: 100px;
  display: flex;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  font-family: Raleway;
  font-weight: 600;
}
.uploadPreview {
  width: 100%;
  max-width: 350px;
  object-fit: cover;
  border-radius: 10px;
}
.filename {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.annotationsContainer {
  flex: 3;
  overflow: auto;
  padding: 0 20px;
}

.annotationsTitle {
  font-family: Raleway;
  font-weight: 600;
  font-size: 24px;
}

.featuresContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: stretch;
}

.featuresContainer > div {
  border-bottom: 2px solid #f2f2f2;
  display: flex;
  flex-direction: column;
  font-family: Poppins;
  justify-content: center;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .uploadPromptContainer {
    width: 90%;
  }
  .previewAnnotationsContainer {
    flex-direction: column;
    margin: 10px 10px;
  }
  .previewContainer {
    margin: 0;
    justify-content: flex-start;
    padding: 10px;
    flex-direction: row;
    gap: 20px;
  }
  .uploadPreview {
    max-width: 50px;
    max-height: 50px;
  }
  .annotationsContainer {
    padding: 0 10px;
  }
  .featuresContainer {
    display: block;
  }
}
