@import url("https://fonts.googleapis.com/css?family=Raleway:900,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:700,600,400&display=swap");

body {
  margin: 0;
  background: #f2f5fe;
  min-width: 200px;
}
