@import url("https://fonts.googleapis.com/css?family=Raleway:900,600,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:700,600,400&display=swap");

body {
  margin: 0;
  background: #f2f5fe;
  min-width: 200px;
}

.card {
  border-radius: 15px;
  border: 2px solid #f4f4f4;
  background: #fff;
  box-shadow: 0px 4px 9px 0px #d9e2ff;
}

html {
  -webkit-tap-highlight-color: transparent;
}

.blueButton {
  border-radius: 12px;
  border: 2px solid #b9cafe;
  background: #4e77f2;
  box-shadow: 0px 4px 9px 0px #d9e2ff;
  padding: 10px 45px;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.customChecklist .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Poppins;
}
.customChecklist .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.customChecklist .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
}
.customChecklist .container:hover input ~ .checkmark {
  background-color: #ccc;
}
.customChecklist .container input:checked ~ .checkmark {
  background-color: #4e77f2;
}
.customChecklist .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.customChecklist .container input:checked ~ .checkmark:after {
  display: block;
}
.customChecklist .container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
